.container {
    display: table;
    height: 100%;
    width: 100%;
}

.cell {

    &__alive {
        background: linear-gradient(#e66465, #9198e5);
    }

    &__dead {
        background-color: black;
    }
}